body {
    height: 100vh;
    width: 100vw;
  }

  #logo {
    position: absolute;
    margin-left: 20vw;
    margin-top: 25vh;
    z-index: 1;
    
  }
  #logo_move{
    margin-left: 0;
    margin-top: 0;
  }
  
  #background{
    background-image: url('../image/background.jpg');
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-repeat : no-repeat;
    background-size : cover;
    filter:blur(5px);
    z-index: -1;
  }

  #map{
    position: relative;
    margin-left: 25vw;
    margin-top: auto;
    width: 50vw;
    height: auto;
    animation-delay: 3s;
  }

  .form-select{
    text-align: center;
    width: 7vw;
    height: auto;
    min-width: 70px;
    margin-left: 20vw;
    font-size: 20px;
    border: 1px solid #9B51E0;
    outline: 3px solid #F8E4FF;
    color:coral
  }